version: "3.7"
services:
  mysql:
    container_name: sh-user-practice
    platform: linux/x86_64
    image: mysql:8.0.23
    ports:
      - "4004:3306"
    environment:
      - MYSQL_DATABASE=sh
      - MYSQL_ROOT_PASSWORD=1234
      - MYSQL_USER=sh
      - MYSQL_PASSWORD=1234
      - TZ=Asia/Seoul
    command:
      - --character-set-server=utf8mb4